name: CI/CD BobApp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./back

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven' # On met en cache les dépendances

      - name: Build and Test with Maven
        run: mvn clean verify

      - name: Upload Jacoco Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: back/target/site/jacoco/
          retention-days: 1 # Le rapport sera conservé pendant 1 jour après bye bye